@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: 'Oswald', sans-serif;
    background-color: theme('colors.black');
  }
}

@layer components {

  :root {
    --stroke-width: calc(1em / 16);
  }

  .card {
    border-radius: theme('borderRadius.md');
    padding: theme('spacing.5');
    background-color: theme('colors.white')!important;
  }

  .quote { background-color: theme('colors.black')!important; }

  .colorful-stroke h2{
    /* background-image: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2, #fed90f); */
    /* background-image: linear-gradient(to right, #A414D9, #FF802B, #F9E105, #34C7A5, #5D50CE); */
    font-family: theme('fontFamily.fascinate');
    background-clip: text;
    background-image: linear-gradient(to right, #2364ED, #FFE724, #FE3CB3, #47D736, #9F4CC4, #FA2F39);
    color: #000119;
    padding: calc(--stroke-width / 2);
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: var(--stroke-width);
  }
}

