@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: 'Oswald', sans-serif;
  }
}

@layer components {
  .card {
    border-radius: theme('borderRadius.md');
    padding: theme('spacing.5');
    box-shadow: theme('boxShadow.xl');
    background-color: theme('colors.black');
  }
  .fixed-card {
    display: flex;
    align-items: center;
  }
  .fixed-card h2{
    font-family: theme('fontFamily.fascinate');
    font-size: theme('fontSize.7xl');
    line-height: 60px;
    text-align: center;
    /* text-transform: uppercase; */
    background: url(../public/assets/bg-universe.jpg) 0 0 / cover no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .card-md {
    /* background-color: theme('colors.black'); */
    /* height: 315px; 
    border-radius: theme('borderRadius.md');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl'); */
  }
}

