@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: 'Oswald', sans-serif;
    background-color: theme('colors.black');
  }
}

@layer components {
  
  .card {
    border-radius: theme('borderRadius.md');
    padding: theme('spacing.5');
    background-color: theme('colors.white')!important;
  }

  .quote { background-color: theme('colors.black')!important; }
}

